body,
html {
    margin: 0;
    padding: 0;
    border: 0;
    line-height: 1;
    vertical-align: baseline;
    box-sizing: border-box;
}

:root {
    --main-height: calc(100vh - 3rem);
}

.nav-link:hover {
    box-shadow: 2px 2px 2px 2px green;
    border-radius: 2px;
}

.nav-link {
    transition: box-shadow 0.3s ease;
    margin-right: 0.5rem;
}

.navbar {
    box-shadow: 2px 2px 2px 2px green;
    height: 3rem;
    background-color: yellow;
    display: flex;
    width: 100%;
}

.sidebar {
    box-shadow: 2px 2px 2px 2px green;
}

.sidebar {
    width: 17.5rem;
    height: var(--main-height);
}

.main-col {
    margin: 0 1rem;
    overflow: auto;
    max-height: var(--main-height);
}

footer {
    min-height: 3rem;
    background-color: white;
}

.main-header div {
    padding: 1rem;
    font-size: 2rem;
}

.main-header {
    border-bottom: 2px black solid;
    margin-bottom: 1rem;
}

.index-table {
    overflow: auto;
    max-height: var(--main-height);
}

.table-td {
    word-break: break-all;
}

.main-container {
    min-width: 93%;
}

.image-row {
    border: 0.1rem solid mediumaquamarine;
    box-shadow: 1px 1px mediumaquamarine;
    max-height: 20rem;
    padding: 0.5rem;
}

.logout-link {
    padding-right: 2rem;
}

.logout-link a {
    text-decoration: none;
}

.dropdown-item:hover {
    transition: background-color 0.3s ease-in-out;
}

.dropdown-item:hover {
    background-color: #5dbea3;
    border-radius: 4px;
}

.sidebar .nav-link {
    margin-top: 1rem;
}

